---
export const prerender = false;

import Editor from '../components/Editor';
import BaseLayout from '../layouts/BaseLayout.astro';

const user = Astro.locals.user;
if (!user) {
	return Astro.redirect('/api/auth/github');
}
---

<BaseLayout title="Write a post · Verge">
	<main>
		<Editor client:only="react" />
	</main>
</BaseLayout>
